.calculator {
  box-sizing: border-box;
  width: 280px;
  float: left;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

button {
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 60px;
}

div {
  margin: 4px;
}

.numbers {
  width: 260px;
  height: 50px;
  font-size: 30px;
  text-align: right;
  color: red;
}

.small-numbers {
  width: 260px;
  height: 50px;
  font-size: 20px;
  text-align: right;
  color: red;
}
.hidden {
  visibility: hidden;
}

